[Desktop Entry]
Type=Action
Name=DownloadSubRS
Icon=empty
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=video/*;
Exec=python3 /home/me/Documents/Scripts/OpenSubtitlesDownloadRS.py %f
Name=Default profile
SelectionCount==1
